:host ::ng-deep .mat-dialog-container {
    padding: 2.5rem 2.5rem 2rem 2.5rem; // padding generoso en todos los lados
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}

.user-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.user-modal__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.user-modal__close-btn {
    align-self: flex-start;
}

.user-modal__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
}

.user-modal__row {
    display: flex;
    gap: 1.2rem;
}

.user-modal__field {
    flex: 1;
    min-width: 220px;
}


.user-modal__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

.user-modal__btn {
    font-weight: 500;
    border-radius: 3px;

    &--registrar {
        background: #0d74c6 !important;
        color: #fff !important;
    }

    &--cancelar {
        background: #e9ecef !important;
        color: #495057 !important;
    }
}

.user-modal__divider {
    border: none;
    border-top: 2px solid #e0e0e0;

}

@media (max-width: 700px) {
    .user-modal__row {
        flex-direction: column;
        gap: 0.5rem;
    }

    .user-modal__field {
        min-width: 0;
    }
}