<div class="table-container">
    <div class="table-inner">
        <table mat-table [dataSource]="users" class="mat-elevation-z0 mat-mdc-table">
            <ng-container matColumnDef="Usuario">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let user">{{ user.usuario }}</td>
            </ng-container>

            <ng-container matColumnDef="Nombres">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let user">{{ user.primerNombre + ' ' + user.segundoNombre }}</td>
            </ng-container>

            <ng-container matColumnDef="Apellidos">
                <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                <td mat-cell *matCellDef="let user">{{ user.primerApellido + ' ' + user.segundoApellido }}</td>
            </ng-container>

            <ng-container matColumnDef="Departamento">
                <th mat-header-cell *matHeaderCellDef>Departamento</th>
                <td mat-cell *matCellDef="let user">{{ user.idDepartamento }}</td>
            </ng-container>

            <ng-container matColumnDef="Cargo">
                <th mat-header-cell *matHeaderCellDef>Cargo</th>
                <td mat-cell *matCellDef="let user">{{ user.idCargo }}</td>
            </ng-container>

            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let user">{{ user.email }}</td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let user">
                    <button mat-button class="user-table__action-btn user-table__action-btn--edit"
                        (click)="onEdit(user)">
                        <mat-icon class="user-table__icon user-table__icon--edit">edit</mat-icon>
                        <span class="user-table__text user-table__text--edit">Editar</span>
                    </button>
                    <button mat-button class="user-table__action-btn user-table__action-btn--delete"
                        (click)="onDelete(user)">
                        <mat-icon class="user-table__icon user-table__icon--delete">delete</mat-icon>
                        <span class="user-table__text user-table__text--delete">Eliminar</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="total-row">
            Total Registros: {{ users.length }}
        </div>
    </div>
</div>